@model IEnumerable<SchoolApp.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subjects</h2>
@if (!Model.Any())
{
    <p>We donot have any Subject</p>
}
else
{
    <table class="table table-bordered table-hover" id="myTable">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Course Code
                </th>
                <th>
                    Name
                </th>
                <th>
                    Teacher
                </th>
                <th>
                    Class
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var subjects in Model)
                {
            <tr>
                <td>@subjects.Id</td>
                <td>@subjects.CoursCode</td>
                <td>@subjects.Name</td>
                <td>@subjects.Teacher.Name</td>
                <td>@subjects.Stage.ClassStage + @subjects.Stage.Section</td>
                <td>
                    <button class="btn btn-primary btn-sm">
                        @Html.ActionLink("Edit", "Edit", "Subject", new { id = subjects.Id }, null)
                    </button>
                </td>
            </tr>
                }
        </tbody>
    </table>
}

